Repository foray1010/image-process-loader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.yml:

'*.js':
  - 'prettier --write'
  - 'eslint --fix'
  - 'git add'
'*.{json,yaml,yml}':
  - 'prettier --write'
  - 'git add'

chore!: drop node.js v12 and v17
  package.json
Due: prettier --write

refactor: remove unnecessary pinst
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @foray1010/eslint-config to v8
  package.json
  src/index.js
  yarn.lock
Due: prettier --write, eslint --fix

chore(deps): update @foray1010/common-presets monorepo (major)
  package.json
  yarn.lock
Due: prettier --write

chore!: require node `^16.14.0 || >=18.12.0`
  .circleci/config.yml
  package.json
Due: prettier --write

chore(deps): update @foray1010/common-presets monorepo (major)
  .eslintrc.cjs
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier --write

chore: move to yarn v3
  .circleci/config.yml
  .gitignore
  .npmignore
  .yarnrc.yml
  README.md
  package.json
  yarn.lock
Due: prettier --write

chore: use .node-version to manage development nodejs version
  .node-version
Due: none

chore: sync editorconfig
  .editorconfig
Due: none

style: sync husky script styles
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore(deps): update @foray1010/common-presets monorepo (major)
  .prettierrc.cjs
  .prettierrc.mjs
  package.json
  yarn.lock
Due: prettier --write

chore!: require node `^18.12.0 || >=20.9.0`
  .circleci/config.yml
  .node-version
  package.json
Due: prettier --write

chore(deps): update yarn to v4
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update all dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update all dependencies
  .husky/commit-msg
  .husky/pre-commit
  .node-version
  package.json
  yarn.lock
Due: prettier --write
