Repository foray1010/image-process-loader: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(deps): lock file maintenance
  yarn.lock
Due: none

fix(deps): update dependency loader-utils to v2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency prettier to v2
  package.json
  yarn.lock
Due: prettier --write

fixup! chore(deps): update dependency prettier to v2
  README.md
  package.json
  src/index.js
  src/lib/asyncWrapper.js
  src/lib/processImage.js
  yarn.lock
Due: prettier --write, eslint --fix

chore(deps): update dependency prettier to v2 (#174)
  README.md
  package.json
  src/index.js
  src/lib/asyncWrapper.js
  src/lib/processImage.js
  yarn.lock
Due: prettier --write, eslint --fix

chore(deps): update dependency lint-staged to v10.0.9
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @foray1010/eslint-config to v2.2.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @foray1010/remark-preset to v3
  package.json
  yarn.lock
Due: prettier --write

fixup! chore(deps): update dependency @foray1010/remark-preset to v3
  .lintstagedrc.js
  .lintstagedrc.yml
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(deps): update dependency @foray1010/remark-preset to v3 (#178)
  .lintstagedrc.js
  .lintstagedrc.yml
  package.json
  yarn.lock
Due: prettier --write, eslint --fix

style: use endsWith to replace regex
  .lintstagedrc.js
Due: prettier --write, eslint --fix

chore(deps): update dependency lint-staged to v10.1.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @foray1010/remark-preset to v3.0.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency prettier to v2.0.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency sort-package-json to v1.41.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v10.1.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency husky to v4.2.5
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.{json,yaml,yml})
  eslint --fix: any of: *.js
